The baseline code does not work if no test labels are provided, so we assign random ones in order to reproduce it.

In [48]:
import pandas as pd

In [49]:
DATA_FOLDER = "/mnt/thau03a/datasets/c1_muse_perception"

In [50]:
labels = pd.read_csv(f"{DATA_FOLDER}/pca_labels.csv")
print(labels.head())
print(labels.shape)
print(labels.describe())

   subj_id  aggressive  arrogant  attractive  charismatic  competitive  \
0        2      0.4940    0.4524      0.5595       0.6667       0.6905
1        3      0.3944    0.3000      0.5000       0.4611       0.5778
2        9      0.3529    0.3382      0.6275       0.5098       0.6324
3       10      0.4943    0.4195      0.5632       0.5517       0.6667
4       13      0.3333    0.2944      0.6667       0.6000       0.6167

   dominant  enthusiastic  expressive  friendly  ...  confident  independent  \
0    0.6429        0.6964      0.8333    0.5774  ...     0.8155       0.7976
1    0.4611        0.4667      0.4444    0.5778  ...     0.7222       0.6778
2    0.4902        0.4804      0.5735    0.5539  ...     0.7451       0.6520
3    0.4828        0.5402      0.6264    0.6034  ...     0.7529       0.7414
4    0.5667        0.5278      0.5944    0.7000  ...     0.7722       0.7167

     risk  sincere  collaborative    kind    warm  good_natured       PC1  \
0  0.5714   0.6667         0.6012  0.5714  0.4821        0.6131  0.207483
1  0.4111   0.6278         0.5556  0.5111  0.5167        0.6389 -0.296324
2  0.5147   0.6275         0.5686  0.5784  0.5294        0.6667 -0.138677
3  0.4943   0.6034         0.5690  0.5345  0.5345        0.6149 -0.089853
4  0.5333   0.6389         0.6389  0.6667  0.6444        0.7167  0.067850

        PC2
0  0.266910
1 -0.049414
2 -0.017686
3  0.075267
4 -0.153043

[5 rows x 24 columns]
(117, 24)
          subj_id  aggressive    arrogant  attractive  charismatic  \
count  117.000000  117.000000  117.000000  117.000000   117.000000
mean   121.341880    0.410670    0.374429    0.519872     0.567088
std     67.981382    0.081669    0.073162    0.081857     0.075197
min      2.000000    0.235600    0.203100    0.338700     0.376300
25%     60.000000    0.349000    0.321400    0.463000     0.515600
50%    129.000000    0.402300    0.379300    0.520800     0.561100
75%    176.000000    0.468800    0.419500    0.570500     0.612900
max    230.000000    0.720400    0.603400    0.750000     0.755600

       competitive    dominant  enthusiastic  expressive    friendly  ...  \
count   117.000000  117.000000    117.000000  117.000000  117.000000  ...
mean      0.614099    0.540248      0.587507    0.615018    0.620013  ...
std       0.066337    0.076803      0.093200    0.091134    0.077507  ...
min       0.438900    0.308800      0.360200    0.401200    0.365600  ...
25%       0.565500    0.488900      0.531200    0.543000    0.566700  ...
50%       0.621800    0.544400      0.574700    0.614900    0.616700  ...
75%       0.655900    0.586200      0.650500    0.679000    0.673100  ...
max       0.790300    0.806500      0.783300    0.833300    0.801300  ...

        confident  independent        risk     sincere  collaborative  \
count  117.000000   117.000000  117.000000  117.000000     117.000000
mean     0.749409     0.699888    0.526374    0.647881       0.598186
std      0.069715     0.052545    0.064407    0.061675       0.060385
min      0.538900     0.572200    0.376300    0.494600       0.483900
25%      0.704300     0.666700    0.482100    0.603400       0.559100
50%      0.756900     0.700000    0.528700    0.649400       0.592600
75%      0.802500     0.732100    0.569900    0.688200       0.640000
max      0.894400     0.822600    0.686700    0.775600       0.775600

             kind        warm  good_natured         PC1         PC2
count  117.000000  117.000000    117.000000  117.000000  117.000000
mean     0.594043    0.560532      0.630701   -0.045134    0.004369
std      0.066812    0.076662      0.071834    0.208078    0.185162
min      0.424700    0.382700      0.457000   -0.553244   -0.428363
25%      0.543200    0.510800      0.578100   -0.189559   -0.141638
50%      0.597700    0.551700      0.634400   -0.052398    0.017695
75%      0.637900    0.622200      0.677800    0.098907    0.114603
max      0.741400    0.730800      0.785700    0.516803    0.677392

[8 rows x 24 columns]

In [51]:
PARTITION_PATH = f"{DATA_FOLDER}/metadata/partition.csv"
partition = pd.read_csv(PARTITION_PATH)
print(partition.head())
print(partition.shape)
print(partition.describe())

   Id Partition
0   0      test
1   1      test
2   2     train
3   3     train
4   6      test
(177, 2)
               Id
count  177.000000
mean   121.920904
std     68.302922
min      0.000000
25%     62.000000
50%    126.000000
75%    182.000000
max    231.000000

In [52]:
# Add a NaN row for each missing subject_ids in labels
partition_subject_ids = partition["Id"].unique()
labels_subject_ids = labels["subj_id"].unique()

missing_subject_ids = set(partition_subject_ids) - set(labels_subject_ids)
print(f"Missing subject_ids: {[str(x) for x in missing_subject_ids]}")
missing_rows = []
for subject_id in missing_subject_ids:
    missing_rows.append({"subj_id": subject_id})
missing_df = pd.DataFrame(missing_rows)
labels = pd.concat([labels, missing_df], ignore_index=True)
labels.tail()

Missing subject_ids: ['0', '1', '130', '6', '8', '136', '140', '16', '144', '153', '26', '154', '155', '33', '165', '38', '40', '44', '46', '49', '177', '181', '54', '183', '184', '185', '63', '64', '191', '66', '192', '193', '69', '70', '194', '195', '196', '198', '75', '199', '77', '203', '80', '81', '208', '83', '210', '214', '220', '221', '101', '229', '231', '108', '109', '112', '116', '117', '124', '126']

,subj_id,aggressive,arrogant,attractive,charismatic,competitive,dominant,enthusiastic,expressive,friendly,...,confident,independent,risk,sincere,collaborative,kind,warm,good_natured,PC1,PC2
172,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# Are the subj_id in labels the same as the Ids in partition?
labels_subject_ids = labels["subj_id"].unique()
partition_subject_ids = partition["Id"].unique()

print(f"Number of unique subj_id in labels: {len(labels_subject_ids)}")
print(f"Number of unique Id in partition: {len(partition_subject_ids)}")

print(f"Are the subj_id in labels the same as the Ids in partition? {set(labels_subject_ids) == set(partition_subject_ids)}")

Number of unique subj_id in labels: 177
Number of unique Id in partition: 177
Are the subj_id in labels the same as the Ids in partition? True

In [54]:
# are the nan rows in labels just the subj_ids that are in the partition test set?
partition_test_subject_ids = partition[partition["Partition"] == "test"]["Id"].unique()
# Get the rows with NaN values
nan_rows = labels[labels.isnull().any(axis=1)]
nan_rows_subject_ids = nan_rows["subj_id"].unique()

print(f"Number of unique subj_id in nan_rows: {len(nan_rows_subject_ids)}")
print(f"Number of unique Id in partition test set: {len(partition_test_subject_ids)}")

print(f"Are the subj_id in nan_rows the same as the Ids in partition test set? {set(nan_rows_subject_ids) == set(partition_test_subject_ids)}")

Number of unique subj_id in nan_rows: 60
Number of unique Id in partition test set: 60
Are the subj_id in nan_rows the same as the Ids in partition test set? True

In [55]:
OUT_PATH = f"{DATA_FOLDER}/pca_labels_with_test.csv"
labels.to_csv(OUT_PATH, index=False)